<header>
  <div class="leftMainButtonsDiv">
  <div class="mainButtonDiv">
    <button class="mainButton" (click)="goToHomePage()">Home</button>
  </div>
  <div class="mainButtonDiv">
    <button class="mainButton" (click)="goToRecognizePage()">Recognize</button>
  </div>
  <div class="mainButtonDiv">
    <button class="mainButton" (click)="goToMapPage()">Map</button>
  </div>
  <div class="mainButtonDiv">
    <button class="mainButton" (click)="gotoHistoryPage()">History</button>
  </div>
  </div>
  <div class="rightMainButtonDiv">
    <div class="signInDiv">
      <button id="signIn">Sign In<i class="fa fa-arrow-right-to-bracket fa-sm"></i></button>
    </div>
    <div class="signUpDiv">
      <button id="signUp">Sign Up</button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>



