<div class="wrapper" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<div class="section">
    <div class="main-info">
    <div class="info-block">
      <h3>ID: {{recognizedObject.recognitionResultId}}</h3>
      <h3>Description: {{recognizedObject.description}}</h3>
      <p>Model: {{recognizedObject.mlModel.modelName}}</p>
      <p>Is object present: {{recognizedObject.isObjectPresent}}</p>
      <p>Created at: {{recognizedObject.createDate}}</p>
      <a class="link" routerLink="{{recognizedObject.recognitionResultId}}">More details...</a>
    </div>
    <div class="picture-block">
      <img alt="object_picture.jpg" class="picture" src="../../../../assets/tank_004.jpg">
    </div>
      </div>
</div>
</div>
